@keyframes grow {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes grow1 {
    from {
        height: 0%;
    }
    to {
        height: 80%;
    }
}

/* .verticalBarContainer {
    animation-name: grow;
    animation-duration: 3s;
} */

.sidebar {
    width: 45px;
    height: 100%;
    background: purple;
    transform: skew(0deg, 20deg) translate(-1px, -8px);
    /* animation-name: grow;
    animation-duration: 3s; */
}

.mainbar {
    width: 50px;
    height: 100%;
    background: purple;
    /* animation-name: grow;
    animation-duration: 3s; */
}

.sidebar1 {
    width: 45px;
    height: 100%;
    background: orange;
    transform: skew(0deg, 20deg) translate(-1px, -8px);
    /* animation-name: grow;
    animation-duration: 3s; */
}

.mainbar1 {
    width: 50px;
    height: 100%;
    background: orange;
    /* animation-name: grow;
    animation-duration: 3s; */
}

.barContainer {
    width: 100px;
    height: 100%;
    animation-name: grow;
    animation-duration: 3s;
}

.barContainer1 {
    width: 100px;
    height: 80%;
    animation-name: grow1;
    animation-duration: 3s;
}
